.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form input, form select, form button {
    width: 300px; /* Sets all inputs, selects, and buttons to 300px width */
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

form .location-btn {
    float: right;
}

form button {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    color: white;
}

form button:hover {
    background-color: #45a049;
}
